@import "normalize.scss";

// F O N T S
@font-face {
    font-family: "Big Noodle Titling";
    src: url("../assets/fonts/big_noodle_titling.woff");
    font-weight: 400;
}

@font-face {
    font-family: "MgOpenModataRegular";
    src: url("../assets/fonts/MgOpenModataRegular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../assets/fonts/Roboto-Thin.woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/Roboto-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/fonts/Roboto-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../assets/fonts/RobotoCondensed-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/fa-brands-400.woff);
}

// G E N E R A L
a, a:visited {
    color: inherit;
}

button {
    background: none;
    border: none;
    outline: none;
}

body {
    background-color: white;
    font-family: "Roboto-Thin";
    font-size: 14px;
    line-height: 1.2;
    color: #696969;
    width: 100%;
}

.container, .navbar, .navbar-brand {
    padding: 0;
}

// H E A D E R   A N D   N A V
header {
    padding: 50px 188px 44px 180px;
    border-bottom: 4px solid #edebeb;
    background: #f8f6f6;
}

// logo
.brand {
    gap: 24px;
    &__logo {
        width: 29px;
        height: 45px;
        background: url("../assets/img/Logo.svg");
    }
    &__name {
        font-family: "Big Noodle Titling";
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.1em;
    }
}

// burger
.burgerButton {
    height: 22px;
    width: 38px;
    &::after {
        display: none;
    }
    &__stripe {
        width: 100%;
        display: block;
        height: 2px;
        box-sizing: border-box;
        background: #464646;
    }
}


// S L I D E R
.mainSlider {
    width: 100%;
    position: relative;
}

.mainCarousel {
    &__itemPreview {
        height: 708px;
        background: #353535;
        font-family: 'Big Noodle Titling';
        color: #d6d5d5;
    }
    &__itemTitle {
        font-size: 72px;
        letter-spacing: 0.15em;
    }
    &__itemDescription {
        font-size: 36px;
        letter-spacing: 0.1em;
    }
}

// carousel vertical
.mainCarousel__content .carousel-item-next:not(.carousel-item-start),
.mainCarousel__content .active.carousel-item-end {
  transform: translateX(0) translateY(100%);
}

.mainCarousel__content .carousel-item-prev:not(.carousel-item-end),
.mainCarousel__content .active.carousel-item-start {
  transform: translateX(0) translateY(-100%);
}

// scroll down tip
.scrollTip {
    width: 100%;
    gap: 18px;
    position: absolute;
    bottom: 45px;
    &__mouse {
        height: 37px;
        width: 18px;
        background: center url('../assets/img/mouse.svg');
    }
    &__text {
        font-family: "Roboto-Bold";
        font-size: 12px;
        color: white;
    }
    // opacity animation
    opacity: 1;
    transition: opacity 3s; 
    &.fadeOut {
        opacity: 0;
    }    
}


// section header
.sectionHead {
    margin: 0 auto 60px;
    &__heading {
        margin-bottom: 24px;
    }
    &__title {
        font-family: 'Big Noodle Titling';
        font-size: 48px;
        letter-spacing: 0.1em;
        color: #3d3d3d;
    }
    &__underline {
        width: 153px;
        height: 3px;
        background-color: #f4511e;
        margin: 0 auto;
    }
    &__description {
        width: 55%;
        text-align: center;
    }
}


// A B O U T   U S
.about {
    padding: 80px 180px 120px;
}

.aboutItem {
    & a {
        height: 196px;
        width: 320px;
        background: #ebebeb;
        padding: 30px 29px 15px 44px;
        color: #707070;
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    &__icon {
        height: 57px;
        width: 60px;
    }
    &__iconDesign {
        background: no-repeat center url('../assets/img/design.svg');
        margin-bottom: 18px;
    }
    &__iconPortfolio {
        background: no-repeat center url('../assets/img/portfolio.svg');
        margin-bottom: 18px;
    }
    &__iconUpdates {
        background: no-repeat center url('../assets/img/updates.svg');
        margin-bottom: 18px;
    }
    &__title {
        font-family: "Roboto-Bold";
        font-size: 17.7px;
        letter-spacing: 0.025em;
        margin-bottom: 10px;
    }
    &__description {
        font-family: "Roboto-Thin";
        letter-spacing: 0.025em;
        text-align: center;
        hyphens: auto;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
    }
}


// V I D E O
.video {
    background: #171f23;
    &__text {
        padding: 118px 110px 100px 95px;
        text-align: center;
    }
    &__title {
        color: #e7e7e7;
        font-family: 'Roboto-Bold';
        font-size: 30px;
        padding-bottom: 20px;
    }
    &__description {
        color: #696969;
        font-family: 'Roboto-Thin';
        padding-bottom: 40px;
    }
    &__playButton {
        width: 127px;
        height: 35px;
        background-color: #e84c3d;
        border-bottom: 2px solid #b11000;
        font-family: 'Roboto-Bold';
        color: #ebebeb;
        cursor: pointer;
    }
    &__box {
        width: 683px;
        height: 430px;
        background-image: linear-gradient(to top, 
        rgba($color: #171f23, $alpha: 0.7),
        rgba($color: #171f23, $alpha: 0.7)),
        url('../assets/img/video.png');
        filter: grayscale(100%);
        &:hover {
            opacity: 1;
            filter: none;
            background-image: url('../assets/img/video.png');
        }
    }
    &__play {
        height: 106px;
        width: 92px;
        background: url('../assets/img/play.svg');
    }
}


// O U R   W O R K S
.works {
    padding-top: 70px;
    &__navList {
        gap: 10px;
        &Item {
            width: 115px;
            list-style-type: none;
        }
    }
    &__navLink, &__navLink:visited {
        font-family: "Roboto-Light";
        font-size: 13.7px;
        letter-spacing: 0.1em;
        color: #3d3d3d;

    }
    &__navLink:hover, &__navLink:active {
        font-family: "Roboto-Bold";
        border-bottom: 1px solid #e84c3d;
    }
    &__row {
        height: 175px;
        &:last-child col{
            border-bottom: none;
        }
    }
    &__col {
        width: 40%;
        box-sizing: border-box;
        background: #e84c3d;
        border-right: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        &:last-child {
            width: 20%;
            border-right: none;
        }
    }
}


// C L I E N T S
.clients {
    background: #1c1c1c;
    &__row {
        height: 240px;
        background: none;
        gap: 40px;
    }
    &__name {
        font-family: "MgOpenModataRegular";
        font-size: 33px;
        line-height: 40px;
        color: #ececec;
    }
    &__logo {
        height: 100px;
        padding-right: 8px;
        position: relative;
        &Background {
            width: 38px;
            height: 38px;
            box-sizing: border-box;
            background: #414141;
            border: 1px solid white;
            border-radius: 5px;
            box-shadow: inset 0 0 0 1px black,
                        inset 0 0 30px 1px rgba($color: #000000, $alpha: 0.6);
        }
        &Image {
            position: absolute;
            filter: grayscale(100%);
            &Themeforest {
                top: 40px;
                right: -3px;
            }
            &Graphicriver {
                top: 32px;
                right: 10px;
            }
            &Videohive {
                top: 29px;
                right: 7px;
            }
        }
    }
    &__item:hover .clients__logoImage, &__item:active .clients__logoImage {
        filter: none;
    }
    &__prev {
        margin-left: 125px;
    }
    &__next {
        margin-right: 130px;
    }
}


// T E A M
.team {
    padding: 70px 180px 100px;
    & .carousel-indicators {
        left: -11.5px;
        top: 345px;
        & button {
            background: white;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            border: none;
            opacity: 1;
        }
        & .active {
            background: #8e8181;
        }
        & [data-bs-target] {
            transition: none;
        }
    }
} 

.member {
    height: 435px;
    &__card {
        background: #ebebeb;
        padding: 70px;
        &Container {
            padding-right: 23px;
            padding-left: 0;
        }
    }
    &__photo {
        height: 134px;
        width: 134px;
        background: #f26c4f;
        border-radius: 50%;
        margin-bottom: 25px;
    }
    &__name {
        font-family: 'Roboto-Bold';
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #3d3d3d;
    }
    &__position {
        letter-spacing: 0.1em;
        color: #3d3d3d;
        margin-bottom: 20px;
    }
    &__media {
        &Link {
            font-family: 'Font Awesome 5 Brands';
        }
        margin-bottom: 40px;
    }
    &__skills {
        background: #ebebeb;
        padding: 120px 50px 85px 65px;
        &Heading {
            font-family: "RobotoCondensed-Bold";
            font-size: 24px;
            letter-spacing: 0.1em;
            color: #3d3d3d;
            padding-bottom: 5px;
        }
        &Description {
            color: #858383;
            padding-bottom: 25px;
        }
    }
}

.skillScale {
    width: 100%;
    color: #3d3d3d;
    margin: 0;
    padding-bottom: 16px;
    &__title {
        font-family: 'Roboto-Bold';
        letter-spacing: 0.1em;
        width: 125px;
        white-space: nowrap;
        padding: 0;
    }
    &__percents {
        font-family: "Roboto-Light";
        text-align: right;
        padding: 0;
    }
    &__stripe {
        height: 1px;
        background: white;
        width: 68%;
    }
    &__fill {
        background: #e84c3d;
        height: 100%;
    }
    &__photoshop {
        width: 88%;
    }
    &__illustrator {
        width: 92%;
    }
    &__sketch {
        width: 90%;
    }
    &__aeffects {
        width: 98%;
    }
}


// dark sections header
.darkSectionHead {
    gap: 20px;
    &__title {
        font-family: 'RobotoCondensed-Regular';
        color: #f6f6f6;
        font-size: 36px;
        letter-spacing: 0.2em;
    }
    &__underline {
        width: 86px;
        height: 1px;
        background-color: #404040;
    }
    margin-bottom: 40px;
}


// F E A T U R E S
.features {
    padding: 55px 180px 40px;
    background: #171f23;
    &__item {
        list-style-type: none;
        font-family: 'Roboto-Light';
        color: #f6f6f6;
    }
    &__icon {
        height: 56px;
        width: 56px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
        &Shortcodes {
            background-image: url('../assets/img/shortcodes.svg');
        }
        &Plugins {
            background-image: url('../assets/img/plugins.svg');
        }
        &Products {
            background-image: url('../assets/img/products.svg');
        }
        &Clients {
            background-image: url('../assets/img/clients.svg');
        }
    }
    &__title {
        font-size: 18px;
    }
    &__number {
        font-size: 48px;
    }
}


// B L O G   P O S T S
.blogs {
    padding: 65px 180px 115px;
}

.blogpost {
    width: 320px;
    background-color: #ebebeb;
    &__preview {
        width: 320px;
        height: 218px;
        background-color: #787474;
        & .d-flex {
            gap: 15px;
        }
        & button {
            width: 43px;
            height: 43px;
            background-color: #e87e5d;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
            &:hover, &:active {
                background-color: white;
            }
        }
        &:hover, &:active {
            background-image: url('../assets/img/blogpost__background.png');
        }
        &:hover button, &:active button {
            display: block;
        }
    }
    &__buttonLink {
        background-image: url('../assets/img/link_button.svg');
        &:hover {
            background-image: url('../assets/img/link_button_hover.svg');
        }
    }
    &__buttonShow {
        background-image: url('../assets/img/show_button.svg');
        &:hover {
            background-image: url('../assets/img/show_button_hover.svg');
        }
    }
    &__text {
        width: 100%;
        padding: 40px 30px 25px 22px;
    }
    &__title {
        font-family: 'Roboto-Light';
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #505050;
        padding-bottom: 20px;
    }
    &__description {
        letter-spacing: 0.05em;
        color: #797979;
        hyphens: auto;
    }
    &__likesComments, &__date {
        font-family: "RobotoCondensed-Regular";
        font-size: 10px;
        letter-spacing: 0.1em;
        color: #8a8989;
    }
    & img, &__likesComments span  {
        margin-right: 5px;
    }
}


// P R I C I N G 
.pricing {
    background: #171f23;
    padding: 45px 215px 95px 200px;
    color: white;
}

.plan {
    border: 1px solid #171f23;
    background: #1f282c;
    &__heading {
        background: #0e1316;
        height: 128px;
        padding-top: 25px;
    }
    &__title {
        font-family: 'Roboto-Bold';
        letter-spacing: 0.1em;
    }
    &__price {
        font-family: 'Roboto-Light';
        font-size: 36px;
        & b {
            font-family: 'Roboto-Light';
            font-size: 24px;
        }
    }
    &__contains {
        padding: 45px;
    }
    &__advantage {
        font-family: 'Roboto-Thin';
        font-size: 14.2px;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        & b {
            font-family: 'Roboto-Regular';
        }
    }
    &__purchase {
        margin-top: 60px;
        width: 125px;
        height: 34px;
        background-color: #f6744b;
        border-radius: 3px;
        font-family: 'Roboto-Bold';
        letter-spacing: 0.1em;
    }
    &:hover {
        border-color: #f6744b;
        & .plan__advantage b {
            color: #f6744b;
        }
    }
}


// C O N T A C T 
.contact {
    padding: 70px 295px 85px;
}

.contactForm {
    & p {
        font-family: 'Roboto-Bold';
        letter-spacing: 0.1em;
        & b {
            color: #f6744b;
        }
    }
    & input {
        border-bottom: 1px solid #cacaca;
        width: 100%;
        height: 80px;
    }
    & .row {
        padding-bottom: 40px;
        & input {
            height: 30px;
        }
    }
    & button {
        width: 203px;
        height: 51px;
        background-color: #f6744b;
        font-family: 'Roboto-Bold';
        letter-spacing: 0.1em;
        color: white;
        margin-top: 60px;
    }
}

// F O O T E R
.footer {
    background: #171f23;
    color: white;
    & .container {
        padding: 50px 0 60px;
    }
    &__logo {
        padding-bottom: 2px;
    }
    &__brandName {
        font-family: 'Big Noodle Titling';
        font-size: 24px;
        letter-spacing: 0.1em;
    }
    &__brandDescription {
        font-family: 'RobotoCondensed-Regular';
        letter-spacing: 0.1em;
    }
    &__media {
        font-family: 'Font Awesome 5 Brands';
        &Link {
            color: #e2e0e0;
            &:hover, &:active {
                color: white;
            }
        }
    }
}

.map {
    background-color: #0c1215;
    border: none;
}

.showMapButton {
    color: white;
    background-color: #0c1215;
    width: fit-content;
    margin: 0 auto;
    padding: 25px 0 25px 32px;
    font-size: 24px;
    font-family: "RobotoCondensed-Bold";
        letter-spacing: 0.1em;
    & .collapsed {
        background-color: #0c1215;
        border: none;
    }
    &:focus {
        border: none;
        box-shadow: none;
    }
    &:not(.collapsed) {
        color: white;
        background-color: #0c1215;
        box-shadow: none;
    }
    &::after {
        background-image: url('../assets/img/accordion_after.svg');
        width: 18px;
        height: 11px;
        margin-left: 10px;
    }
    &:not(.collapsed)::after {
        background-image: url("../assets/img/accordion_after.svg");
    }
}